<footer class="footer bg-warning text-black py-4 mt-auto">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          We are a leading company in our industry, committed to providing high-quality services to our customers.
        </p>
      </div>

      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="dark-unstyled">
          <li><a href="#" class="text-dark text-decoration-none">Home</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Services</a></li>
          <li><a href="#" class="text-dark text-decoration-none">About</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div>
          <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i> Facebook</a>
          <a href="#" class="text-dark me-3"><i class="bi bi-twitter"></i> Twitter</a>
          <a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0">&copy; 2024 Your Company Name. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>